@layer components {
  .motion {
    transition-property:
      color, background-color, border-color, box-shadow, opacity, translate;
    transition-duration: var(--default-transition-duration, 150ms);
    transition-timing-function: var(
      --default-transition-timing-function,
      cubic-bezier(0.4, 0, 0.2, 1)
    );
  }

  @media (prefers-reduced-motion: reduce) {
    .motion {
      transition: none;
    }
  }
}
